.landing--container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    height: 115vh;
    overflow: hidden;
    position: relative;
}
#ReactBackgroundSlider > figure{
    background-size: cover!important;
    background-position: top!important;
}
.landing--hero{
    position: absolute;
    left: 5%;
    top: 70%;
    padding: 0 5px;
    width: 85%;
    span{
        background: red;
        padding: 5px 10px;
        color: white;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    h1{
        margin-top: 2rem;
        color: white;
        font-size: 3.75rem;
        word-wrap:break-word;
        word-break: break-word;
    }
}
