* {
    box-sizing: border-box;
    outline: none!important;
    margin: 0;
    padding: 0;
    color: $white;
  }
  
  #root{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: auto;
  }

  html {
    font-size: 66%;
    font-family: $font-lato;
    position: relative;
  }

  ::-webkit-scrollbar {
    background: transparent;  /* Optional: just make scrollbar invisible */
    width: 0px;  /* Remove scrollbar space */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: $white;
}

body{
    color: black;
    background-color: $black;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
    transition: all .35s ease;
    position: relative;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}  
.body-overflow{
    overflow: hidden!important;
}

h1{
  margin: 0;
  position: relative!important;
}

a{
    color: $white;
    font-weight: 300;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    transition: .25s all ease-in-out;
    &:hover{
      color: grey;
    }
  }

  ul li{
    list-style-type: none;
  }
  
  button {
    cursor: pointer;
  }
  .section{
    background: $black;
    color: $white;
  }
