//Colors
$white: #EEE;
$black: #222831;
$grey: #393E46;
$blue: #1372E8;
$orange: #D65A31;
$green: #66A182;


//font families
$font-lato: 'Lato', sans-serif;
$font-fugaz: 'Fugaz One', cursive;

// Spacing
$m-size: 1.6rem;
