.image--filler-section{
    height: 75vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}