.product-container{
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 0 5rem 0;
}
.product--filter-bar{
    margin-top: 45px;
    background: $black;
    border: .001px solid rgba(255, 255, 255, .05);
    height: 500px;
    width: 20%;
    padding: 10px 20px 10px 7rem;
    h2{
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1.5px;
        padding: 4rem 0;
    }
}
.filter-bar--clothes,
.filter-bar--jewlery
{
    text-transform: uppercase;
    font-size: 1.15rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 3rem 0;

    ul{
        margin: 10px 0;
        padding-left: 10px;
        li{
            cursor: pointer;
            margin: 10px 0;
        }
    }
}
.product--item-list{
    background: $black;
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
}
.product--pagination-container{
    height: 45px;
    width: 100%;
}
.product--pagination-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    width: 95%;
    margin: 0 auto;
    border-bottom: .001px solid rgba(255, 255, 255, .1);
    &:last-of-type{
        border-top: .001px solid rgba(255, 255, 255, .1);

    }
}
.pagination--page-num{
    span{
        font-size: 1.65rem;
    }
}
.product--cards{
    height: 100%;
    width: 100%;
    background: $black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 5px;
}
.product--card{
    height: 350px;
    width: 220px;
    margin: 10px 0;
    position: relative;
}
.product-title{
    padding: 0 5px;
    text-align: left;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column-reverse;
    h2{
        color: $white;
        margin: 0;
        padding: 0;
    }
    span{
        opacity: .7;
        margin-top: 10px;
        margin-bottom: -7px;
        color: $white;
    }
}
.product-price{
    padding: 0 5px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    span{
        font-weight: 300;
        color: $white;

    }
    button{
        background: transparent;
        border-radius: 9999px;
        border: 1px solid $white;
        -webkit-border-radius: 9999px;
        -moz-border-radius: 9999px;
        -ms-border-radius: 9999px;
        -o-border-radius: 9999px;
        padding: 5px 10px;
        
}
}