.product-container{
    width: 100%;
    height: auto;
    display: flex;
    margin: 0 0 5rem 0;
}
select{
    margin-top: 5px;
    background: transparent;
    padding: 5px;
    &:selected{
        color: $black;
    }
}
option{
    color: $black!important;
}
.product--filter-bar{
    margin-top: 45px;
    background: transparent;
    border: 0.001px solid rgba(255, 255, 255, 0.1);
    height: 500px;
    width: 20%;
    padding: 10px 20px 10px 7rem;
    h2{
        color: $white;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1.5px;
        padding: 4rem 0;
    }
}
.filter-bar--clothes,
.filter-bar--jewlery
{
    text-transform: uppercase;
    font-size: 1.15rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: 3rem 0;
    h3{
        color: $white;
    }
    ul{
        margin: 10px 0;
        padding-left: 0px;
        li{
            font-weight: 500;
            color: $white;
            cursor: pointer;
            margin: 12px 0;
            width: 100%;
            transition: all .3s ease;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            overflow: hidden;
            &:hover{
                span{
                    transform: translate(0%, 0);
                    -webkit-transform: translate(0%, 0);
                    -moz-transform: translate(0%, 0);
                    -ms-transform: translate(0%, 0);
                    -o-transform: translate(0%, 0);
                    transform: translateZ(0);

}
            }
            span{
                transform: translateZ(180);
                display: inline-block;
                color: grey;
                margin-right: 3px;
                font-size: 1.25rem;
                transform: translate(-100%, 0);
                -webkit-transform: translate(-100%, 0);
                -moz-transform: translate(-100%, 0);
                -ms-transform: translate(-100%, 0);
                -o-transform: translate(-100%, 0);
                transition: all .3s ease;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
            }
                &:hover{
                color: grey;
            }
        }
    }
}
.product--item-list{
    background: $black;
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
}

.product--cards{
    height: 100%;
    width: 100%;
    background: $black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 5px;
}
.product--card{
    height: 350px;
    width: 220px;
    margin: 10px 0;
    position: relative;
}
.product-title{
    padding: 0 5px;
    text-align: left;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column-reverse;
    h2{
        color: $white;
        margin: 0;
        padding: 0;
    }
    span{
        opacity: .7;
        margin-top: 10px;
        margin-bottom: -7px;
        color: $white;
    }
}
.product-price{
    padding: 0 5px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    span{
        font-weight: 300;
        color: $white;

    }
    button{
        background: transparent;
        border-radius: 9999px;
        border: 1px solid $white;
        -webkit-border-radius: 9999px;
        -moz-border-radius: 9999px;
        -ms-border-radius: 9999px;
        -o-border-radius: 9999px;
        padding: 5px 10px;
        transition: all .3s ease;
     &:hover{
         border: 1px solid transparent;
         background: $white;
         color: $black;
     }   
    }
}