.store-container{
    margin-top: 120px;
    padding: 2rem 7rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    h1{
        margin: 20px 0;
    }
}
.store-logo{
    background: darken($black, 5%);
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    i{
        font-size: 20rem;

    }
}
.product-image{
    width: 100%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
}