.artists--playlist-preview--container{
    height: 100vh;
    width: 100%;
    display: flex;
    margin-top: 58px;
    align-items: center;
    justify-content: center;
}
.artists--playlist-preview{
    width: 90%;
    height: 90%;
    position: relative;
    color: black;
    h1{
        font-size: 4rem;
        padding: 5px 10px;
        margin-bottom: -10px;
    }

}
.artists--card-container{
    width: 100%;
    height: 89%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .artists--card{
        border: 1px solid black;
        width: 430px;
        height: 380px;
        background-position: top;
        background-size: contain;
    }
}
.artist--card-wrapper{
    font-weight: 700;
    word-spacing: -2px;
    h2{
        font-size: 1.75rem;
    }
    span{
        font-size: 1.45rem;

    }
}

