.social-media--section{
    height: 50vh;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: darken($black, 10%);
}
.social-media--links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    i{
        // color: $black!important;
    }
    h1{
        margin-bottom: 20px;
        // color: $black!important;
    }
}
.footer--social-links{
    @extend .header--social-links;
    i{
        margin: 0 25px;
    }
}